body{
    background-color: blanchedalmond;
}

.oculto{
    visibility: hidden;
}

section{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.imageContainer{
    height: 300px;
    width: 300px;
}

.footertext{
background-color: rgba(27, 27, 25, 0.233);
color: white;
}

.footertext:hover{
    background-color: rgba(72, 72, 179, 0.637);
}
